[Desktop Entry]
Name=Desktop Raine
Comment=Raine fron TwoKinds, right on your desktop!
Exec=raine
Icon=/usr/share/icons/desktop-raine/icon.png
Terminal=false
Type=Application
Categories=Game
Keywords=Raine;Virtual;Waifu;Desktop
